body {
    padding: 20px;
    margin-top: 145px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e1e1e1;
}

h2 {
    font-size: 50px;
    color: #131313;
}

.container {
    width: 420px;
    padding: 30px 40px;
    border: 1px solid #131313;
    border-radius: 12px;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 15px px rgba(0, 0, 0, 0.4);
    background: transparent;
}

input {
    padding: 10px;
    margin: 10px 0;
    max-width: 200px;
    border: 1px solid #131313;
    border-radius: 10px;
}

select {
    max-width: 2000px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #131313;
    border-radius: 10px;
}

button {
    color: #ffffff;
    width: 100%;
    max-width: 200px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #131313;
}

button:hover {
    background-color: #292929;
}

#result {
    font-weight: bold;
    margin: 20px 0;
    color: #131313;
}

